<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%- include('../chrome/chrome-drag.ejs') %>
<div class="setup-obn-page">
    <h1>Welcome to Aurora</h1>
    <select>
        <option value="Acrylic">Acrylic</option>
        <option value="Mica">Mica</option>
        <option value="None">None</option>
    </select>
    <button onclick="handleLogin()" class="login-btn">Complete Setup</button>
</div>
</body>
</html>