<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%- include('../chrome/chrome-drag.ejs') %>
<div class="setup-obn-page">
    <img src="" alt="Aurora">
    <h1>Welcome to Aurora</h1>
    <button onclick="handleMusicKitLogin()" class="login-btn">Sign In with Apple </button>
</div>
    <script>
        function handleMusicKitLogin() {
           MusicKit.getInstance().authorize()
        }
    </script>
</body>
</html>