<body>
    <div class="setup-obn-page">
        <h1>Welcome to Aurora</h1>
        <div class="setup-container">
            <label for="theme-select">Choose your theme</label>
            <select id="theme-select" class="setup-settings">
                <option value="Acrylic">Acrylic</option>
                <option value="Mica">Mica</option>
            </select>
            <button onclick="handleLogin()" class="login-btn">Complete Setup</button>
        </div>
    </div>
    <script>
        function handleLogin() {
            // Redirect to a new page
            window.location.href = '/home';
        }
    </script>
</body>
