<html>
  <head>
    <script src="../scripts/vue.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <h1>Welcome, {{ username }}</h1>
  </body>
  <script src="../todo.js"></script> 
</html>