<!DOCTYPE html>
<html>
<head>
  <script src="../scripts/vue.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="amp-import">
  <h1>Import</h1>
    <button class="import-btn" onclick="electron.openFolder()">Open Folder</button>
</div>
</body>
<script src="../todo.js"></script>
</html>
