<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .chrome-drag{
            height: 7vh;
            -webkit-app-region: drag;
            z-index: 50;
        }
    </style>
</head>
<body>
<div class="chrome-drag"></div>
<%- body %>
</body>
</html>