
<body>
    <div class="sidebar-content">
            <button class="sidebar-btn">
                Home
            </button>
            <button class="sidebar-btn">
               Albums 
            </button>
            <button class="sidebar-btn">
                Songs
            </button>
    </div>
</body>