<!DOCTYPE html>
<html lang="en">
<head>
        <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <script src="./scripts/vue.js"></script>
     <script src="./scripts/scroll.js"></script>
    <title><%= title %></title>
<link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <%- include('./imports/base/setup.ejs') %>
    </div>
</body>
</html>
