html, body {
  background-color: rgba(14, 13, 13, 0.322);
  padding: 0;
  margin: 0;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.amp-body {
    flex: 1; 
    height: 100%;
    padding-left: 3vh;
    padding-top: 3vh;
}

.setup-obn-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  user-select: none;
  gap: 8px;
}

.login-btn {
  background-color: rgb(235, 24, 56);
  color: white;
  border: transparent solid 0.5px;
  padding: 15px 32px;
  text-align: center;
  border-radius: 2vh;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.setup-page {
    text-align: center;
}

.setup-page h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setup-settings {
    width: 200px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chrome-sidebar{
  background-color: rgba(14, 13, 13, 0.856);
  height: 100%;
  width: 30vh;
  margin: 0;
}

.sidebar-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  gap: 2vh
}

.sidebar-btn{
  background-color: inherit;
  width: 100%;
  color: white;
  cursor: pointer;
  height: 5vh;
  border: none;
  text-align: left;
  padding: 0vh 3vh 0vh;
  font-size: larger;
}

.wrapper{
    display: flex;
    height: 100%;
}
